/* h1 {
    text-align: center;
    color: red;
    font-size: 40px;
} */
    /* Universal Selector*/
        * {
            font-family: 'Times New Roman', Times, serif;
            color: blue;
        }

        /* Group Selector*/
        h3, p {
            text-align: center;
        }

        /* Class Selector */
        .highlight {
            color: green;
            font-size: 40px;
        }

        /* ID Selector*/
        #special {
            color: red;
            font-size: 25px;
            text-align: left;
        }

     