
.app1 {
  background-color: rgb(238, 95, 0);
  color: white;
  font-size: 16px;
}

.app2 {

  color: darkgreen;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid darkblue;
}
